<div class="app">
  <div class="app__nav">
    <div class="container">
      <h1 class="title">Game Wish List</h1>
    </div>
  </div>

  <div class="app__content">
    <div class="section">
      <div class="container">
        <GameSearch />

        <GameList />
      </div>
    </div>
  </div>
</div>
